aside {
    width: 200px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
    min-height: 80vh;
    background: #fdfdfd;
    padding: 30px;
}

ul {
    list-style: none;
    li {
        height: 30px;
        &:hover {
            cursor: pointer;
        }
    }
}

.search-box {
    width: 100%;
    outline: none;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 0.9rem;
    padding-left: 20px;
    &:focus {
        outline: none;
        border: 1px solid #ffc20f;
    }
}

th {
    font-size: 0.9rem;
}

td {
    font-size: 0.8rem;
}

span {
    transition: all 300ms ease;
    &:hover {
        cursor: pointer;
        color: red;
    }
}