aside{
    width: 200px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04);
    min-height: 80vh;
    background: #fdfdfd;
    padding: 30px;
}

ul {
    list-style: none;
    li{
        height: 30px;
    &:hover{
        cursor: pointer;
    }
    }
}