aside {
    width: 200px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
    min-height: 100vh;
    height: 100%;
    background: #fdfdfd;
    padding: 20px;
    padding-left: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
    li {
        height: 50px;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        transition: all 300ms ease;
        &:hover,
        &.active {
            cursor: pointer;
            margin-left: 10px;
            color: red;
        }
        span {
            margin-right: 10px;
        }
    }
}

.valid-err {
    font-size: 0.6rem;
    color: #ca131f;
}

.btn-create {
    background: red;
    color: #fdfdfd;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #ffc20f;
}

.text-right {
    text-align: right;
}