<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside>
                <ul>
                    <li routerLink="/dashboard/manage-category" routerLinkActive="active"><span class="material-icons">category</span>Manage Category</li>
                    <li routerLink="/dashboard/manage-movie" routerLinkActive="active"><span class="material-icons">movie</span>Manage Movie</li>
                    <li routerLink="/dashboard/manage-comment" routerLinkActive="active"><span class="material-icons">comment</span>Manage Comment</li>
                    <li routerLink="/dashboard/manage-rate" routerLinkActive="active"><span class="material-icons">star</span>Manage Rate</li>
                    <li routerLink="/dashboard/manage-account" routerLinkActive="active"><span class="material-icons">person</span>Manage Account</li>
                    <li (click)="logout()"><span class="material-icons">logout</span> Logout</li>
                </ul>
            </aside>
        </div>
        <div class="col-md-10 p-4">
            <div class="row">
                <div class="col-md-10">
                    <input type="search" placeholder="search" class="search-box" name="searchKey" autocomplete="off" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-create" data-bs-toggle="modal" (click)="clicktoAddRate()" data-bs-target="#exampleModal">Add Rate</button>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Movie</th>
                            <th scope="col">your Rate</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.title}}</td>
                            <td>{{item.rate}}</td>
                            <td>
                                <span class="material-icons" (click)="editRate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">edit</span>&nbsp;
                                <span class="delete material-icons" (click)="deleteRate(item.id)">clear</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="showAdd" id="exampleModalLabel">Add Rate</h5>
                <h5 class="modal-title" *ngIf="showEdit" id="exampleModalLabel">Edit Rate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddRateForm">
                    <div class="row">
                        <div class="col">
                            <select class="form-select" formControlName="film" aria-label="film">
                                <option *ngFor="let item of films" [value]="item.id">{{item.title}}</option>
                              </select>
                        </div>
                        <div class="col">
                            <select class="form-select" formControlName="rate" aria-label="rate">
                                <option *ngFor="let in of counter(10) ;let i = index" [value]="i+1">{{i+1}}</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>Close</button>
                <button type="button" *ngIf="showAdd" class="btn btn-create" (click)="addRate()" [disabled]="!AddRateForm.valid">add</button>
                <button type="button" *ngIf="showEdit" class="btn btn-create" (click)="EditRatePost()" [disabled]="!AddRateForm.valid">Edit</button>
            </div>
        </div>
    </div>
</div>