<section class="p-5">
    <div class="container-fluid article">
        <div class="row ">
            <div class="col-md-6">
                <article class="">
                    <div class="article-img">
                        <img src="../../../assets/img/movie.jpg" title="" alt="">
                    </div>
                    <div class="article-title">
                        <h2>{{movie.title}}</h2>
                        <div class="media">

                            <div class="media-body d-flex justify-content-between">

                                <span>{{movie.created_at | date}}</span>
                                <span>Rate :  {{movie.avg_rating}}</span>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="mb-1">Product : {{movie.product}}</li>
                        <li class="mb-1">Language : {{movie.language}}</li>
                        <li class="mb-1">Duration : {{movie.duration}}</li>
                    </ul>

                    <div class="article-content">
                        <p>{{movie.description}}</p>
                    </div>



                </article>
            </div>
            <div class="col-md-6">
                <div class="header pt-3">
                    <h4>Comments</h4>
                </div>
                <div class="body" *ngIf="dataSource">
                    <ul class="comment-reply list-unstyled">
                        <li class="row clearfix pt-3" *ngFor="let item of dataSource">
                            <div class="icon-box col-md-2 col-4 text-center px-3 pb-3"><img class="img-fluid img-thumbnail" src="../../../assets/img/download (2).jfif" alt="Awesome Image"></div>
                            <div class="text-box col-md-10 col-8">
                                <h5 class="m-b-0">{{item.user_email}}</h5>
                                <p>{{item.content}}</p>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);">{{item.created_at | date}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="contact-form article-comment">
                    <h4>Leave a Reply</h4>
                    <form id="contact-form" [formGroup]="AddComentForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea formControlName="content" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme" (click)=" addComment()" [disabled]="!AddComentForm.valid"><span>Submit</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>