<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="https://via.placeholder.com/800x350/87CEFA/000000" title="" alt="">
                    </div>
                    <div class="article-title">
                        <h2>{{movie.title}}</h2>
                        <div class="media">

                            <div class="media-body d-flex justify-content-between">

                                <span>{{movie.created_at | date}}</span>
                                <span>Rate :  {{movie.avg_rating}}</span>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="mb-1">Product : {{movie.product}}</li>
                        <li class="mb-1">Language : {{movie.language}}</li>
                        <li class="mb-1">Duration : {{movie.duration}}</li>
                    </ul>

                    <div class="article-content">
                        <p>{{movie.description}}</p>
                    </div>

                    <div class="header pt-3">
                        <h4>Comments</h4>
                    </div>
                    <div class="body" *ngIf="dataSource">
                        <ul class="comment-reply list-unstyled">
                            <li class="row clearfix pt-3" *ngFor="let item of dataSource">
                                <div class="icon-box col-md-1 col-4"><img class="img-fluid img-thumbnail" src="../../../assets/img/download (2).jfif" alt="Awesome Image"></div>
                                <div class="text-box col-md-11 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">{{item.user_email}}</h5>
                                    <p>{{item.content}}</p>
                                    <ul class="list-inline">
                                        <li><a href="javascript:void(0);">{{item.created_at | date}}</a></li>
                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>

                </article>

                <div class="contact-form article-comment">
                    <h4>Leave a Reply</h4>
                    <form id="contact-form" [formGroup]="AddComentForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea formControlName="content" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme" (click)=" addComment()" [disabled]="!AddComentForm.valid"><span>Submit</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">

                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Trending Now</h3>
                    </div>
                    <div class="widget-body">

                    </div>
                </div>
                <!-- End Trending Post -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Latest Post</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Latest Tags</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</div>