<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <aside>
                <ul>
                    <li routerLink="/dashboard/manage-category" routerLinkActive="active"><span class="material-icons">category</span>Manage Category</li>
                    <li routerLink="/dashboard/manage-movie" routerLinkActive="active"><span class="material-icons">movie</span>Manage Movie</li>
                    <li [routerLink]="['/manage-movie']" routerLinkActive="active"><span class="material-icons">comment</span>Manage Comment</li>
                    <li [routerLink]="['/manage-movie']" routerLinkActive="active"><span class="material-icons">star</span>Manage Rate</li>
                    <li [routerLink]="['/dashboard/manage-account']" routerLinkActive="active"><span class="material-icons">person</span>Manage Account</li>
                    <li (click)="logout()"><span class="material-icons">logout</span> Logout</li>
                </ul>
            </aside>
        </div>
    </div>
</div>
